<div class="wrapper">
    <app-main-header></app-main-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-main-sidebar></app-main-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <app-content-header></app-content-header>
        <!-- Main content -->
        <section class="content">
            <router-outlet></router-outlet>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <app-main-footer></app-main-footer>
    <!-- Control Sidebar -->
    <app-control-sidebar></app-control-sidebar>

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
 immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->